 #Navbar ul{
    list-style: none;
    background-color: #0E4A4A;
    padding: 0;
    margin: 0;
    text-align: center;
}

#Navbar li{
    display: inline-block;
}

#Navbar a{
    display: block;
    text-decoration: none;
    font-family: Arial;
    color: #FFFFFF ;
    padding: 25px 20px;
    width: 100px;
    font-weight: bold;
    text-align: center;
}
body{
    background-color:#F5ECEC ;
    font-family: sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#view\ and\ edit\ parcel{
    padding: 0 10%;
    margin: 40px auto 0;
}
.table{
    width: 100%;
    border-collapse: collapse;
}
.table thead{
    background-color: aliceblue;

}
.table thead tr th{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: black;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid white ;
}
.table tbody tr td{
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: black;
    background-color: #e2e2e2;
    padding: 8px;
    text-align: center;
    border:1px solid white;
}
.table tbody tr td .status{
    width: 100px;
    text-decoration: none;
    line-height: 35px;
    display: block;
   /* vertical-align: bottom; */
    background-color: #F5ECEC;
    /*font-weight: medium;*/
    color: black;
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
    font-weight: bold;
}


.status button{
    border: 1px solid transparent;
}
@media (max-width: 600px) {
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
      display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table tbody tr td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table td:before{
        content:attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }

}