body {
    background-color: #F5ECEC;
    font-family: sans-serif;
}
.container{
    width: 600px;
    background-color: aliceblue;
    border-radius: 5px;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: grid;
    height: 100%;
    place-items: center;
}
/*  secondary navbar*/
#Secondary\ Navbar ul{
    list-style: none;
    background-color: #0E4A4A;
    padding: 0;
    margin: 0;
    text-align: center;
}

#Secondary\ Navbar li{
    display: inline-block;
}

#Secondary\ Navbar a{
    display: block;
    text-decoration: none;
    font-family: Arial;
    color: #FFFFFF ;
    padding: 25px 20px;
    width: 100px;
    font-weight: bold;
    text-align: center;
}
#Secondary\ Navbar a:hover{
    color: #000000;
}

/* primary navbar */
#primary\ navbar ul{
    list-style: none;
    background-color: #1FCCA2;
    padding: 0px;
    margin: 0px;
    text-align: right;
}

#primary\ navbar li{
    display: inline-block;
}

#primary\ navbar a{
    display: block;
    text-decoration: none;
    font-family: Arial;
    color: #FFFFFF ;
    padding: 25px 20px;
    font-weight: bold;
    text-align: center;
}

#tracking{
    width: 100%;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 20px;
}
#heading{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    color: black;
    font-weight: bold;
    font-family: "Britannic Bold";
    padding: 20px 20px 20px;
    margin: 25px 50px 75px 100px;
}
#tracking p{
    text-align: left;
    padding-bottom: 10px;

}

.title{
    text-align: center;
    font-weight: 600;
    font-family: sans-serif
}

input[type = text]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

}
#track_btn{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #0E4A4A;
    color: white;
}

input[type = submit] {
    width: 50%;
    background-color: #0E4A4A;
    color: #F5ECEC;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;

}
/*divs*/
.container{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    height: auto;
    width: 100%;
    align-content: center;
    justify-content: center;
}

#popup{
    width: 100%;
    box-sizing: border-box; 
    width:100%;
    background-color: aliceblue;
    margin: 10px;
    color: black;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid transparent;
    place-items: center;
}
#popup h3 {
    line-height: 80px;
    background-color: #1FCCA2;
    text-align: center;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 5px 5px 0 0;
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
}

.services ol {
    padding: 30px 25px 25px 25px;
    margin: 10px;
    list-style: none;
    align-content: center;
}

#popup input[type = number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/*media queries*/
@media screen and (max-width: 1200px) {
    .popup{
        width: 40%;

    }
}

@media screen and (max-width: 600px) {
    .popup .tracking .trackingresult{
        width: 90%
    }
}

/*tracking page design*/
.trackingresult h3 {
    line-height: 50px;
    background-color: #1FCCA2;
    text-align: center;
    padding-left: 20px;
    border-radius: 5px 5px 0 0;
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}
.trackingresult{
    width: 100%;
    background-color: aliceblue;
    border-radius: 5px;
    margin: auto;
    padding: 0;
    place-items: center;

}
.trackingresult ul{
    padding: 30px 25px 25px 25px;
    list-style: none;
}
.trackingresult p{
    font-family: sans-serif;
    font-weight: bold;
    color: cornflowerblue;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}
.trackingresult li{
    padding: 5px;
}
.detail{
    color: cornflowerblue;
}
.firstline{
    color: #1FCCA2;
}
/*table designs*/
@media (max-width: 600px) {
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table tbody tr td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table td:before{
        content:attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }

}