body{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: grid;
    height: 100%;
    place-items: center;
    background-color: #F5ECEC;
}
#wrapper{
    width: 400px;
    background-color: aliceblue;
    border-radius: 5px;
}
#wrapper .title{
    line-height: 80px;
    background-color: #1FCCA2;
    text-align: center;
    padding-left: 20px;
    border-radius: 5px 5px 0 0;
    color: aliceblue;
    font-size: 25px;
    font-weight: 600;
}
#wrapper form{
    padding: 30px 25px 25px 25px;
}
#wrapper input[type = text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
#wrapper input[type = password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
#wrapper input[type = submit]{
    width: 100%;
    background-color: #0E4A4A;
    color: #F5ECEC;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 20px;

}
#wrapper input[type=submit]:hover {
    background-color: darkcyan;
}
.link{
    text-align: center;
    margin-top: 20px;
}
#wrapper .link a{
    color: #1FCCA2;
    font-size: 15px;
    text-decoration: none;
}
#wrapper .link a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 600px){
    .wrapper{
        width: 300px;
    }
}